include AUTHORS.rst
include Changelog
include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt

recursive-include muffin_admin *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
