aiofile
aiosqlite
marshmallow-peewee  >= 3.2.0
marshmallow-sqlalchemy
muffin-databases    >= 0.2.4
muffin-peewee-aio
peewee
pytest
pytest-aio[trio,curio]
pytest-mypy

sqlalchemy
# # https://github.com/encode/databases/issues/298
# sqlalchemy < 1.4
