{% set base_url = app.ps.admin.cfg.prefix + '/' + active.name.lower() %}
{% set action = "%(base_url)s?pk=%(id)s"|format(base_url=base_url, id=active.get_pk(active.resource)) %}

{% import "admin/macros.html" as macros %}

<div class="modal-header">
    {% block header %}
        <h4 class="modal-title"> {{ gettext('Edit') }} {{ active.name}} {{ active.get_pk(active.resource) }}</h4>
    {% endblock %}
</div>

<div class="modal-body">
    {% block body %}
        {{ macros.render_form(form, action=action, class="ajax") }}
    {% endblock %}
</div>

<div class="modal-footer">
    {% block footer %}
        <button class="btn btn-success" type="submit">{{ gettext('Save') }}</button>
        <button class="btn btn-default" data-dismiss="modal">{{ gettext('Cancel') }}</button>
    {% endblock %}
</div>
