{% extends "admin/base.html" %}

{% import "admin/macros.html" as macros %}

{% set base_url = app.ps.admin.cfg.prefix + '/' + active.name %}

{% block title %}
  <title>{{active.name}}</title>
{% endblock %}

{% block content %}

  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#list">
            {{ active.name|title }} ({{active.count}})
        </a>
    </li>

    {# Create button #}
    {% if active.can_create and active.form %}
      <li><a href="#create" data-toggle="modal" data-target="#create">{{ gettext('Create') }}</a></li>
      <div id="create" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"><h4>{{gettext('Create')}} {{active.name}}</h4></div>
            <div class="modal-body">
              {{ macros.render_form(form, action=base_url, class="ajax") }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-success btn-create" type="submit">{{ gettext('Create') }}</button>
              <button class="btn btn-danger  btn-reset" href="#reset">{{ gettext('Reset') }}</button>
              <button class="btn btn-default" data-dismiss="modal">{{ gettext('Cancel') }}</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <li>
        <a href="{{ admurl(request, 'csv') }}&csv">
            {{ gettext('Download CSV') }}
        </a>
    </li>

    {# Filters #}
    {% if active.columns_filters %}
        <div class="pull-right dropdown">
            <button class="btn {% if active.filter_form.active %}btn-success{% else %}btn-default{% endif %}" data-toggle="dropdown">{{ gettext('Filters') }} <b class="caret"></b></button>
            <div class="dropdown-menu" style="min-width: 300px">
                <form method="GET" action="{{ request.path }}" class="form" style="padding: 10px">
                {% for field in active.filter_form %}
                    {{ macros.render_field(field) }}
                {% endfor %}
                <div class="pull-right">
                    <button class="btn btn-success" type="submit"> {{ gettext('Submit') }} </button>
                    <a class="btn btn-danger" href="{{request.path}}"> {{ gettext('Reset') }} </a>
                </div>
                </form>
            </div>
        </div>
    {% endif %}

    {# Actions #}
    {% if active.actions %}
    <div class="pull-right dropdown" style="margin-right: 2em">
        <button class="btn btn-default dropdown-toggle" id="actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled="disabled">
            {{ gettext('With selected') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for desc, path in active.actions %} <li><a href="{{path}}" class="action">{{desc}}</a></li> {% endfor %}
        </ul>
    </div>
    {% endif %}

    {# Global actions #}
        {% for desc, path in active.global_actions %}
        <a class="pull-right btn btn-default" style="margin-right: 1em" href="{{path}}?{{ request.query_string }}" class="action">{{desc}}</a>
    {% endfor %}

  </ul>

  <table class="table table-striped table-hover admin-list">
    <thead>
      <tr>
        {% if active.actions %}
        <th>
            <input class="select-toggle" type="checkbox" />
        </th>
        {% endif %}
        <th style="width: 40px"></th>
        {% set url = admurl(request, 'ap-sort') %}
        {% for column in active.columns %}
          <th class="nowrap">
            <div class="dropdown">
                <a class="dropdown-toggle {{(active.sorting != column)|admtest('text-muted')}}" data-toggle="dropdown" href="#"><span data-toggle="tooltip" title="sort"> {{active.columns_labels.get(column, column.title())}} <span class="caret"></span> </span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">{{ gettext('Sort') }}</li>
                <li><a href="{{url}}&ap-sort={{column}}"><span class="glyphicon glyphicon-arrow-up">{{ gettext('Ascending') }}</span></a></li>
                <li><a href="{{url}}&ap-sort=-{{column}}"><span class="glyphicon glyphicon-arrow-down">{{ gettext('Descending') }}</span></a></li>
              </ul>
            </div>
          </th>
        {% endfor %}
        <th style="width: 40px"></th>
      </tr>
    </thead>

    <tbody>
      {% for item in active.collection|list %}
        <tr id="item-{{active.get_pk(item)}}" class="item-row" data-pk="{{active.get_pk(item)}}">
          {% if active.actions %}
          <td>
              <input class="select" type="checkbox" value="{{active.get_pk(item)}}"/>
          </td>
          {% endif %}
          <td style="min-width:5em">
            {% if active.form %}
                <div class="btn-group">
                    <a class="btn btn-xs btn-default" href="{{base_url}}?pk={{active.get_pk(item)}}&view=1" data-toggle="modal" data-target="#view-{{active.get_pk(item)}}">
                        <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="view" style="pointer-events:none"></span>
                    </a>
                    {% if active.can_edit %}
                        <a class="btn btn-xs btn-default" href="{{base_url}}?pk={{active.get_pk(item)}}" data-toggle="modal" data-target="#edit-{{active.get_pk(item)}}">
                            <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="edit" style="pointer-events:none"></span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
          </td>

          {% for column in active.columns %}
            <td> {{ active.render_value(item, column)|safe }} </td>
          {% endfor %}

          <td>
            {% if active.can_delete and active.delete %}
              <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete-{{active.get_pk(item)}}">
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="delete"></span>
              </button>
              <div class="modal fade" id="delete-{{active.get_pk(item)}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header"><h4>Are you sure want to delete {{active.name}} #{{active.get_pk(item)}}?</h4></div>
                    <div class="modal-body">
                      {% for column in active.columns[:4] %}
                      <b> {{ active.render_value(item, column)|safe }} </b>
                      {% endfor %}
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger btn-delete">{{ gettext('Delete') }}</button>
                      <button class="btn btn-default" data-dismiss="modal">{{ gettext('Cancel') }}</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% for item in active.collection|list %}
    <div class="modal fade" id="edit-{{active.get_pk(item)}}">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    <div class="modal fade" id="view-{{active.get_pk(item)}}">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
  {% endfor %}

  {% if active.limit %}
    {% set pages = active.count // active.limit %}

    {% if pages %}
        <ul class="pagination pull-right">
            {% set url = admurl(request, 'ap-offset') %}
            {% set page = active.offset // active.limit %}
            {% set pages = active.count / active.limit %}
            {% set size = 3 %}

            {% set left = page - size - 1 %}
            {% set right = page + size + 1 %}
            {% if left < 0 %}
                {% set right = right - left %}
            {% endif %}
            {% if right > pages %}
                {% set left = left - (right - pages) %}
            {% endif %}

            {% if page == 0 %}
                <li class="disabled"><a href="{{request.path_qs}}">&laquo;</a></li>
            {% else %}
                <li><a href="{{ url }}&ap-offset={{active.offset - active.limit }}">&laquo;</a></li>
            {% endif %}

            {% for num in range(pages|round(0, 'ceil')|int) %}

            {% if num in [0, pages - 1] or left < num < right %}

            <li class="{{ (page == num) | admtest('active') }}"><a href="{{ url }}&ap-offset={{ num * active.limit }}">{{ num + 1 }}</a></li>

            {% elif num == left  %}

            <li class="disabled"><a href="#">...</a></li>

            {% elif num == right %}

            <li class="disabled"><a href="#">...</a></li>

            {% endif %}

            {% endfor %}

            {% if pages <= page + 1 %}
                <li class="disabled"><a href="{{request.path_qs}}">&raquo;</a></li>
            {% else %}
                <li><a href="{{ url }}&ap-offset={{active.offset + active.limit }}">&raquo;</a></li>
            {% endif %}

        </ul>
    {% endif %}
  {% endif %}

{% endblock %}


{% block js_admin %}

  <script>

    (function ($) {
      "use strict";

      $(function(){

        // Initialize tooltips
        $('[data-toggle="tooltip"]').tooltip();

    {% if active.actions %}
        // Toggle checkboxes
        $('[data-pk]').click(function(e) {
            if(e.target.dataset['target']) return;
            $(this).find('input[type=checkbox]').click();
        });
    {% endif %}

        $('.select-toggle').click(function() {
            var checked = $(this).prop('checked');
            $('.select').prop('checked', checked);
            $('#actions').prop('disabled', !checked);
        });

        $('.select').change(function(){
            var checked = $(this).prop('checked'), some;
            $('.select').each(function(i, cc){
                checked = checked && cc.checked;
                some = some || cc.checked;
            });
            $('.select-toggle').prop('checked', checked);
            $('#actions').prop('disabled', !some);
        });

        // Actions
        $('.action').click(function(e){
            e.preventDefault();
            var $this = $(this), ids = [];
            $('.select').each(function(i, cc){
                if (cc.checked) ids.push(cc.value);
            });
            window.location = $this.prop('href') + '?' + $.param({ids: ids}, true); 
        });

        // Delete items
        $('.btn-delete').click(function(){
          $(this).button('toggle');
          var item = $(this).parents('tr')[0], id = $(item).data('pk'), modal=$(this).parents('.modal');
          $.ajax({
            url: window.base_url + '?pk=' + id,
            method: 'DELETE',
            success: function () {
              modal.modal('toggle');
              $('#item-' + id).hide(600);
            }
          });
        });

        // Reset a form
        $('.btn-reset').click(function(e){
          e.preventDefault();
          var parents = $(this).parents('.modal');
          parents.find('form').trigger('reset');
          parents.find('.has-error').removeClass('has-error');
          parents.find('.help-block').remove();
        });

        // Submit modal forms
        $(window.document).on('click', 'button[type="submit"]', function(){
          $(this).parents('.modal').find('form').submit();
        });

        // Parse modal forms
        $(window.document).on('submit', '.ajax', function(e){
          e.preventDefault();

          var $this = $(this);

          $this.find('.has-error').removeClass('has-error');
          $this.find('.help-block').remove();

          $.ajax({
            url: $this.attr('action'),
            type: $this.attr('method'),
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
              var errors = data.responseJSON;
              $.each(errors, function(c, errors) {
                var parent = $this.find('#' + c).parent();
                parent.addClass('has-error');
                $.each(errors, function(c, e){
                  parent.append('<p class="help-block">' + e + '</p>');
                });
              });
            }
          });
        });
      });
      
    }(jQuery));

  </script>

  <script>
    var base_url = '{{base_url}}';
  </script>

{% endblock %}
