{% macro render_field(field, value=None, disabled=False) -%}
  {% if field.type == 'HiddenField' %} {{ field }} {% else %}
    {% if field.type == 'BooleanField' %}
        <div class="checkbox">
          <label>
            {% if value %} {{ field(value=value, disabled=disabled) }} {% else %} {{ field(disabled=disabled) }} {% endif %}
            {{ field.label.text }}
          </label>
        </div>
    {% else %}
        <div class="form-group">
            {{ field.label(class_="control-label") }}
            {{ field(class_="form-control", disabled=disabled) }}
            {% if field.description %}
                <span class="help-block">{{ field.description | e }}</span>
            {% endif %}
        </div>
    {% endif %}
  {% endif %}
{%- endmacro %}

{% macro render_form(form, action="", method="POST", class="", disabled=False) -%}
  <form class="form {{class}}" method="{{method}}" action="{{action}}" enctype="multipart/form-data">
    {% for field in form %}
        {{ render_field(field, disabled=disabled) }}
    {% endfor %}
  </form>
{%- endmacro %}
