name: release

on:
  workflow_run:
    workflows: [tests]
    branches: [master]
    types: [completed]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@main

      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
          cache: yarn
          cache-dependency-path: frontend/yarn.lock

      - name: Build Frontend
        run: |
          make pypi
        working-directory: frontend

      - name: Publish Frontend
        run: npm publish
        working-directory: frontend

      - uses: astral-sh/setup-uv@main
        with:
          enable-cache: true

      - name: Build Package
        run: |
          uv build
          uv publish --token ${{ secrets.pypy }}
